{% extends "base.html" %} {% block content %}
<div class="container-fluid p-0">
	<section class="bg-4 p-5">
		<div class="card bg-4 bg-5-border" style="width: 18rem; position: relative; top: 3rem; left:8rem; float:left">
				<img src="https://picsum.photos/id/8/600/400" class="card-img-top" style=" height: auto !important; width: 100% !important;" alt="..." />
				<div class="card-body">
					 <div class="d-flex gap-2 justify-content-center my-2">
                                    <h6 class="text-decoration-line-through ff-messiri-semibold mb-0" >15.990 BD</h6>
                                    <h5 class="mb-0" >9.990 BD</h5>
                                </div>
					<a href="#" class="btn btn-primary d-block">اشترِ الآن</a>
				</div>
			</div>
		<div class="container text-white">
			<div class="row">
				
				<div class="col-8 col-xs-12">
					<h2>بايثونبايثونبايثونبايثونبايثونبايثون للمبتدئين</h2>
					<h6 class="color-6">محمد منصور</h6>
					<div>
						<div class="d-flex gap-3 mt-4">
							<p>
								<i class="fa-regular fa-file me-2 color-6"></i>
								161 حصة
							</p>
							<p>
								<i class="fa-regular fa-clock me-2 color-6"></i>
								16h 40min
							</p>
							<p>
								<i class="fa-solid fa-certificate me-2 color-6"></i>
								شهادة إتمام
							</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<section class="bg-3 p-5">
		<div class="container">
			<h4>المهارات المكتسبة</h4>
			<div class="mt-4">
				<div class="row">
					<div class="col-6 mb-4">
						<p>
							<i class="fa-solid fa-check me-1 color-6"></i>
							سوف تتعلم عن المواضيع الأساسية والمتقدمة في React.
						</p>
					</div>
					<div class="col-6 mb-4">
						<p>
							<i class="fa-solid fa-check me-1 color-6"></i>
							سوف تتعلم عن أحد أفضل مكتبات إدارة الحالة في React، وهي Redux.
						</p>
					</div>
					<div class="col-6 mb-4">
						<p>
							<i class="fa-solid fa-check me-1 color-6"></i>
							سوف تتقن بعضًا من أكثر مفاهيم React تعقيدًا مثل الخطافات (Hooks)،
							والتوجيه (Routing)، والتدويل (Internationalization)، والعديد
							غيرها.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="p-5">
		<div class="container">
			<h4>نظرة عامة على الدورة</h4>
			<p>
				الهدف الرئيسي من هذه الدورة هو تزويدك بمقدمة ممتازة حول React ونظامها
				البيئي، ومعالجة الميزات المتقدمة، وتعليمك أكبر قدر ممكن من أفضل
				الممارسات. علاوة على ذلك، تقوم هذه الدورة بالتعمق أكثر في الطرق الأكثر
				شعبية وحداثة ومباشرة لاستخدام React.
			</p>
		</div>
	</section>
	<section class="p-5">
		<div class="container">
			<h4>محتوى الدورة</h4>
			<p>
				الهدف الرئيسي من هذه الدورة هو تزويدك بمقدمة ممتازة حول React ونظامها
				البيئي، ومعالجة الميزات المتقدمة، وتعليمك أكبر قدر ممكن من أفضل
				الممارسات. علاوة على ذلك، تقوم هذه الدورة بالتعمق أكثر في الطرق الأكثر
				شعبية وحداثة ومباشرة لاستخدام React.
			</p>
		</div>
	</section>
</div>
{% endblock content %}
