{% extends "base.html" %} {% block content %}
<div class="container">
	<section class="my-5">
		<h1>إبدا بالتعلم, زيد</h1>
		<div class="row mt-5">
            
            <div class="col-3">
                    <a href="#" class="text-decoration-none">
                    <div class="card bg-4 pb-0 card-shadow">
                        <img src="https://picsum.photos/id/8/600/400" class="card-img-top" style=" height: auto !important; width: 100% !important;" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title text-white">بايثون للمبتدئين</h5>
                            <small>محمد منصور</small>
                            <p class="card-text">
                                <div class="d-flex gap-2">
                                    <h6 class="text-decoration-line-through ff-messiri-semibold mb-0" >15.990 BD</h6>
                                    <h5 class="mb-0" >9.990 BD</h5>
                                </div>
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
		</div>
	</section>
</div>
{% endblock content %}
